<ion-card *ngFor="let producto of productos" [hidden]="producto.urlImage === undefined">
  <ion-img [src]="producto.urlImage"></ion-img>
  <ion-card-header>
    <ion-card-subtitle>{{producto.descripcion | uppercase}}</ion-card-subtitle>
    <ion-card-title>{{producto.precio | decimales:2}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>{{producto.feCreacion | date:'dd/MM/yyyy'}}</p>
  </ion-card-content>

  <ion-button expand="full" (click)="editar(producto)">Editar</ion-button>

</ion-card>