<ion-header>
  <ion-toolbar>
    <ion-title>
      Nuevo producto
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-input name="urlImage" [(ngModel)]="datosFormulario.urlImage" #urlImage="ngModel" placeholder="Url Imagen">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="descripcion" [(ngModel)]="datosFormulario.descripcion" #descripcion="ngModel"
          placeholder="Descripcion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="precio" [(ngModel)]="datosFormulario.precio" #precio="ngModel" placeholder="precio" appNumero>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="stock" [(ngModel)]="datosFormulario.stock" #stock="ngModel" placeholder="stock" appNumero></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select name="categoria" [(ngModel)]="datosFormulario.categoria" #categoria="ngModel"
          placeholder="Select One">
          <ion-select-option *ngFor="let opcion of opciones" [value]="opcion.valor">{{opcion.texto}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="guardarProducto()">Guardar</ion-button>
  </form>
</ion-content>